@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  h1{
    @apply text-h1
  }
  h2{
    @apply text-h2
  }
  h3{
    @apply text-h3
  }
  h4{
    @apply text-h4
  }
  h5{
    @apply text-h5
  }
  h6{
    @apply text-h6
  }
  p{
    @apply text-p
  }
  span{
    @apply text-span
  }
}
